.button-container {
    display: flex;
  }
  
  .vs {
    margin: 0 10px;
  }

  table {
    border-collapse: collapse;
    display: grid;
  }
  
  td {
    border: 1px solid white;
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
  }
  body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }

  .gameboard {
  color: white;
}

.message {
  color: white;
}





  
  