.button-container {
    display: flex;
    padding-top: 25px;
  }

  .start-button {
    margin-top: 25px;
  }
  
  .vs {
    margin: 0 10px;
  }

  table {
    border-collapse: collapse;
    
  }
  
  td {
    
    border: 20px solid white;
    width: 150px;
    height: 150px;
    text-align: center;
    vertical-align: middle;
  }
  td:first-of-type {
    border-left-color: transparent;
    border-top-color: transparent;
    
  }

  td:nth-of-type(2) {
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
  }

  td:nth-of-type(3) {
    border-right-color: transparent;
    border-top-color: transparent;
  }
  
  .gameboard-row:nth-of-type(3) td{
    border-bottom-color: transparent;
  }

  body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }

  .gameboard {
  color: white;
}

.message {
  color: white;
}

.square-text {
  font-size: 75px;

}




  
  